<hi>パブリックの、ホームズの、トップ。トップページだよー</hi>

<div class="container">
  <div>
    <p>ようこそ、ながのCAKEへ！</p>
    <p>このサイトは、ケーキ販売のECサイトになります。</p>
    <p>会員でないかたも商品の閲覧はできますが、</p>
    <p>購入には会員登録が必要になります。</p>
  </div>
  <div>
    <%# @items.each do |item| %>
  </div>
  <div>
   <%= link_to "全ての商品を見る", items_path %>
  </div>
</div>